body {
	background-image: url('../img/dashboard.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
}

#title-height {
	min-height: 100vh;
}

#title-header {
	font-size: 4rem;
}

@media (max-width: 768px) {
	#title {
		min-height: 25vh
	}

	#title-header {
	font-size: calc(1.525rem + 3.3vw);
	}
	
	#title-btn {
	display: none;
	}
}

.bg-overlay {
	background-color: rgba(0, 0, 0,.2);
}